h1 {
    color:aquamarine
}
.heading {
    display:flex;
    justify-content:space-between;
}
.grid {
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap

}
.footer {
    display:flex;
    justify-content:flex-end;
    
}